* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
}

.color-text {
    padding: 0px 5px;
    margin: auto;
    font-size: 15px;
}

.container {
    width: 832px;
    height: 832px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: calc(832px / var(--gridSize));
    height: calc(832px / var(--gridSize));
    border: 1px solid black; 
}
