* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 832px;
    height: 832px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: calc(832px / var(--gridSize));
    height: calc(832px / var(--gridSize));
    border: 1px solid black; 
}

.hover-square {
    background-color: black;
}